<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Floralis</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!--navBar-->
    <div class="nav">
      <nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand" href="#">
          <img src="/img/logo1.png" alt="Logo Floralis" class="logoform" />
        </a>
        <button
          class="navbar-toggler d-lg-none"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapsibleNavId"
          aria-controls="collapsibleNavId"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav me-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="#" aria-current="page"
                >Accieul</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#" aria-current="page"
                >A propos</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#" aria-current="page"
                >Contact</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="dropdownId"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >Services</a
              >
              <div class="dropdown-menu" aria-labelledby="dropdownId">
                <a class="dropdown-item" href="#">Décoration d'interieur</a>
                <a class="dropdown-item" href="#">Evenement</a>
                <a class="dropdown-item" href="#">Décoration exterieur</a>
                <a class="dropdown-item" href="#">Pérsonalisé</a>
              </div>
            </li>
          </ul>
          <form class="p-2">
            <button class="btn btn-color my-2 my-sm-0" type="submit">
              Commander
            </button>
          </form>
        </div>
      </nav>
    </div>
    <!--slider-->
    <div class="slide">
      <div class="row">
        <div
          id="carouselExampleDark"
          class="carousel carousel-dark slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleDark"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleDark"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleDark"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
              <div
                class="container-fluid d-flex justify-content-center align-items-center"
              >
                <img src="/img/sl1.jpg" class="img-fluid w-100" alt="..." />
              </div>
              <div class="carousel-caption d-none d-md-block">
                <h2>Décoration exterieur</h2>
                <p class="lead fst-italic">
                  Explorez un jardin d'émerveillement floral. Laissez-nous
                  fleurir votre monde
                </p>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <div
                class="container-fluid d-flex justify-content-center align-items-center"
              >
                <img src="/img/sl2.png" class="img-fluid w-100" alt="..." />
              </div>
              <div class="carousel-caption d-none d-md-block">
                <h2>Evenement</h2>
                <p class="lead fst-italic">
                  Créez des souvenirs parfumés avec nos bouquets uniques. Votre
                  bonheur, notre inspiration
                </p>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <div
                class="container-fluid d-flex justify-content-center align-items-center"
              >
                <img src="/img/sl3.png" class="img-fluid w-100" alt="..." />
              </div>
              <div class="carousel-caption d-none d-md-block">
                <h2>Décoration d'interieur</h2>
                <p class="lead fst-italic">
                  Élevez votre intérieur avec l'élégance florale. Des
                  arrangements qui racontent votre histoire, disponibles
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--cards-->
    <div
      class="container-fluid d-flex justify-content-center align-items-center p-4 mt-4"
    >
      <h1>Nos services</h1>
    </div>
    <div class="container">
      <div class="row">
        <div
          class="col-md-6 mb-4 container d-flex justify-content-center align-items-center"
        >
          <div class="card" style="width: 23rem">
            <img src="/img/c_Pink.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Evenement</h5>
              <p class="card-text">
                Créez des souvenirs parfumés avec nos bouquets uniques. Votre
                bonheur, notre inspiration
              </p>
              <div class="d-flex justify-content-end align-items-end">
                <a href="#" class="btn btn-color">Voir</a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-md-6 mb-4 container d-flex justify-content-center align-items-center"
        >
          <div class="card" style="width: 23rem">
            <img src="/img/c_Red.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Personalisé</h5>
              <p class="card-text">
                Offrez-la pour déclarer vos sentiments les plus profonds.
              </p>
              <div class="d-flex justify-content-end align-items-end">
                <a href="#" class="btn btn-color">Voir</a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-md-6 mb-4 container d-flex justify-content-center align-items-center"
        >
          <div class="card" style="width: 23rem">
            <img src="/img/c_white.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Décoration d'interieur</h5>
              <p class="card-text">
                Élevez votre intérieur avec l'élégance florale. Des arrangements
                qui racontent votre histoire, disponibles
              </p>
              <div class="d-flex justify-content-end align-items-end">
                <a href="#" class="btn btn-color">Voir</a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-md-6 mb-4 container d-flex justify-content-center align-items-center"
        >
          <div class="card" style="width: 23rem">
            <img src="/img/c_yellow.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Décoration exterieur</h5>
              <p class="card-text">
                Explorez un jardin d'émerveillement floral. Laissez-nous fleurir
                votre monde
              </p>
              <div class="d-flex justify-content-end align-items-end">
                <a href="#" class="btn btn-color">Voir</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--JumboTron-->
    <hr class="footer-divider" />
    <div class="container p-4 mt-4">
      <div class="jumbotron">
        <div class="container d-flex justify-content-center align-items-center">
          <h1>A propos de nous</h1>
        </div>

        <p>
          Bienvenue chez Floralis, Nous sommes votre fleuriste local dédié à
          apporter de la fraîcheur et de la couleur à chaque moment de votre
          vie. Nos fleurs fraîches, soigneusement sélectionnées, sont assemblées
          avec amour pour créer des bouquets uniques et éblouissants. Que ce
          soit pour un anniversaire, un mariage, ou simplement pour faire
          plaisir, nos arrangements floraux sur mesure sont conçus pour capturer
          l'essence de chaque occasion. Parcourez notre sélection en ligne et
          laissez-vous séduire par notre savoir-faire floral. Faites de chaque
          jour une occasion spéciale avec les fleurs de [Nom de votre magasin].
          Faites votre choix et laissez-nous mettre un peu de beauté florale
          dans votre vie.
        </p>
      </div>
    </div>
    <!--Footer-->
    <footer class="p-4 mt-4">
      <div class="container">
        <div class="row">
          <div class="col-md-4 text-center">
            <h5>E-mail</h5>
            <p>contact.floralis@gmail.com</p>
          </div>
          <div class="col-md-4 text-center">
            <h5>Adresse</h5>
            <p>Targa ouzemmour, Béjaia</p>
          </div>
          <div class="col-md-4 text-center">
            <h5>Téléphone</h5>
            <p>+213 617896523</p>
          </div>
        </div>
        <hr class="footer-divider" />
        <div class="row">
          <div class="col-md-12 text-center">
            <p>&copy; Floralis Benyoub. Tous droits réservés.</p>
          </div>
        </div>
      </div>
    </footer>
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/jquery.slim.min.js"></script>
  </body>
</html>
