<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="./css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/dist.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Floralis</title>
  </head>
  <body>
    <script src="/js/jquery.slim.min.js"></script>
    <script type="module" src="/jsTW/scriptTW.js"></script>
    <!--navbar-->
    <nav class="bg-gray-100 p-4">
      <div class="mx-auto flex justify-between items-center">
        <div class="logo">
          <img src="/img/logo1.png" alt="Logo" style="padding-right: 20px" />
        </div>
        <ul class="nav-links flex space-x-4">
          <li><a href="#">Accueil</a></li>
          <li class="nav-links flex space-x-4">
            <a href="#">Contact</a>
          </li>
          <li class="dropdown">
            <a href="#">Services</a>
            <ul class="dropdown-menu">
              <li><a href="#">Evenement</a></li>
              <li><a href="#">Décoration d'interieur</a></li>
              <li><a href="#">Décoration éxterieur</a></li>
              <li><a href="#">Personalisé</a></li>
            </ul>
          </li>
        </ul>
        <div>
          <a href="#" class="btn-color">Commander</a>
        </div>
      </div>
    </nav>

    <!--slider-->
    <div>
      <img src="/img/sl1.jpg" style="height: 500px; width: 100%" />
    </div>
    <div class="flex justify-center items-center p-4 mt-4">
      <h1 class="text-4xl">Nos services</h1>
    </div>

    <div>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
        <div class="container mx-auto">
          <div class="bg-white rounded-lg shadow-lg">
            <img
              src="/img/c_Pink.jpg"
              alt="..."
              class="w-full h-64 object-cover"/>
            <div class="p-4">
              <h5 class="text-xl font-semibold">Evenement</h5>
              <p class="mt-2">
                Créez des souvenirs parfumés avec nos bouquets uniques. Votre
                bonheur, notre inspiration
              </p>
              <div class="flex justify-end items-end mt-4">
                <a href="#" class="btn btn-color">Voir</a>
              </div>
            </div>
          </div>
        </div>
     
      
        <div class="container mx-auto">
          <div class="bg-white rounded-lg shadow-lg">
            <img
              src="/img/c_yellow.jpg"
              alt="..."
              class="w-full h-64 object-cover"
            />
            <div class="p-4">
              <h5 class="text-xl font-semibold">Personalisé</h5>
              <p class="mt-2">
                Offrez-la pour déclarer vos sentiments les plus profonds.
              </p>
              <div class="flex justify-end items-end mt-4">
                <a href="#" class="btn btn-color">Voir</a>
              </div>
            </div>
          </div>
        </div>
    
     
        <div class="container mx-auto ">
          <div class="bg-white rounded-lg shadow-lg">
            <img
              src="/img/c_white.jpg"
              alt="..."
              class="w-full h-64 object-cover"
            />
            <div class="p-4">
              <h5 class="text-xl font-semibold">Décoration d'interieur</h5>
              <p class="mt-2">
                Élevez votre intérieur avec l'élégance florale. Des arrangements
                qui racontent votre histoire, disponibles
              </p>
              <div class="flex justify-end items-end mt-4">
                <a href="#" class="btn btn-color">Voir</a>
              </div>
            </div>
          </div>
        </div>
     
     
        <div class="container mx-auto">
          <div class="bg-white rounded-lg shadow-lg">
            <img
              src="/img/c_Red.jpg"
              alt="..."
              class="w-full h-64 object-cover"
            />
            <div class="p-4">
              <h5 class="text-xl font-semibold">Décoration exterieur</h5>
              <p class="mt-2">
                Explorez un jardin d'émerveillement floral. Laissez-nous fleurir
                votre monde
              </p>
              <div class="flex justify-end items-end mt-4">
                <a href="#" class="btn btn-color">Voir</a>
              </div>
            </div>
          </div>
        </div>
      
    </div>

    <div >
      <div class="bg-white rounded-lg p-6 shadow-lg">
        <h1 class="text-4xl text-center mt-5">
          A propos de nous
        </h1>
        <p class="mt-4">
          Bienvenue chez Floralis, Nous sommes votre fleuriste
          local dédié à apporter de la fraîcheur et de la couleur à chaque
          moment de votre vie. Nos fleurs fraîches, soigneusement sélectionnées,
          sont assemblées avec amour pour créer des bouquets uniques et
          éblouissants. Que ce soit pour un anniversaire, un mariage, ou
          simplement pour faire plaisir, nos arrangements floraux sur mesure
          sont conçus pour capturer l'essence de chaque occasion. Parcourez
          notre sélection en ligne et laissez-vous séduire par notre
          savoir-faire floral. Faites de chaque jour une occasion spéciale avec
          les fleurs de [Nom de votre magasin]. Faites votre choix et
          laissez-nous mettre un peu de beauté florale dans votre vie.
        </p>
      </div>
    </div>

    <footer class="bg-color pt-2">
      
        <div class="text-center pt-2">
          <div class="row">
            <div class="col-md-4 text-center">
              <h5>E-mail</h5>
              <p>contact.floralis@gmail.com</p>
            </div>
            <div class="col-md-4 text-center">
              <h5>Adresse</h5>
              <p>Targa ouzemmour, Béjaia</p>
            </div>
            <div class="col-md-4 text-center">
              <h5>Téléphone</h5>
              <p>+213 617896523</p>
            </div>
          </div>
        </div>
      
      <hr class="footer-divider mt-4" />
      <div>
        <div class="text-center">
          <p>&copy; Floralis Benyoub. Tous droits réservés.</p>
        </div>
      </div>
    </footer>

  </body>
</html>